DATABASE_URL=
SURVEY_TOKEN_SECRET=
ADMIN_ACCESS_KEY=
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=
ALLOWED_EMAIL_DOMAINS=
SUPER_ADMIN_EMAILS=
